<div *ngIf="paint" class="conteiner">

    <table class="table table-hover">
        <thead>
            <th>
                Titulo
            </th>
            <th>
                Nombre
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let test of paint" (click)="onSelect(test)">
                <td>{{test.titulo}}</td>
                <td>{{test.nombre}}</td>
            </tr>
        </tbody>
    </table>
        
</div>

<br>

<app-edit-contactos [selectedContact]="selectedContact" ></app-edit-contactos>
